*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 185, 192);
    padding: 16px;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: lavender;
    border-radius: 12px;
}

/* Income Page Start */
.income-dashboard{
    width: 80%;
    height: 100%;
    background-color: lavender;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* display: none; */
    gap: 12px;
}

.income-total{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    background-color: white;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}

.income-total span{
    font-size: 28px;
    color: green;
}

/* income-input-container */
.income-input-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
    overflow-x: auto;
}

/* income-input-div */
.income-input-div{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.income-input-div input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.615);
}

.income-input-div select{
    width: 120px;
    padding: 8px;
    align-self: flex-end;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.615);
    cursor: pointer;
}

.income-input-div textarea{
    height: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.615);
}

.income-input-div button{
    width: 120px;
    padding: 8px;
    color: white;
    background-color: maroon;
    border-radius: 20px;
    float: left;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.income-input-div button:hover{
    background-color: green;
}

/* income result div */
.income-input-result-div{
    width: 70%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}
/* .income-input-result-div::-webkit-scrollbar{
    display: none;
} */

.income-input-result-div-ele{
    width: 100%;
    padding: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.income-info-ele{
    display: flex;
    gap: 8px;
    /* padding: 8px; */
    
}

.income-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 4px;
}

.income-icon{
    font-size: 28px;
}

.income-info-upper{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    gap: 8px;
}

.income-info-upper div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
}

.income-info-upper p{
    font-weight: bold;
}

.income-info-lower{
    display: flex;
    align-items: center;
    gap: 12px;
}

.income-info-lower-amount{
    display: flex;
    align-items: center;
    gap: 4px;
}

.del-income-ele{
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    outline: none;
}
.del-income-ele:hover{
    background-color: red;
}