*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 185, 192);
    padding: 16px;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: lavender;
    border-radius: 12px;
}

.dashboard{
    width: 80%;
    height: 100%;
    background-color: lavender;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    gap: 12px;
}

.transaction{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* border: 1px solid black; */
}

.graph{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: white;
}

.total{
    width: 100%;
    height: 20%;
    border-radius: 8px;
    display: flex;
    gap: 12px;
}

.income, .expence, .balance{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.balance-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-radius: 8px;
}

.history{
    width: 40%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.history-outer-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.history-ele, .range-ele{
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rane-outer-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.range-ele-1{
    width: 100%;
    border-radius: 8px;
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
